/stock-predicter/node_modules/*
/stock-predicter/dist/*
/stock-predicter/.tmp/*
/stock-predicter/.sass-cache/*
/stock-predicter/app/bower_components/*
/node_project/node_modules/*
/stock-predicter/app/bower_components
