<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  </head>
  <body ng-app="stockApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <!-- <div class="container"> -->
        <div class="col-xs-10 col-xs-offset-1">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ng-click="view='home'" href="#/">stock</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ng-class="{'active': view=='home'}"><a href="#/company">Home</a></li>
              <!-- <li ng-class="{'active': view=='edit'}" ng-click="view='edit'"><a ng-href="#/editStock">Edit Stock Details</a></li> -->
              <li ng-class="{'active': view=='watchlist'}"><a ng-href="#/watchlist">Watchlist</a></li>
              <li ng-class="{'active': view=='portfolio'}"><a ng-href="#/portfolio">Portfolio</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li>
                <span style="font-size:14px; margin-top: 14px; display: inline-block;">
                  <a ng-click="updateNseValue()">Refresh &nbsp;&nbsp;</a>
                  {{rootScopeData.valueNse}} ({{rootScopeData.changeNse}}, {{rootScopeData.pChangeNse}}%)
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="message-container">
        <div class="message" ng-class="{'error': !rootScopeData.messageStatus, 'success': rootScopeData.messageStatus}">{{rootScopeData.messageString}}</div>
      </div>
    </div>
    

    <!-- <div class="container"> -->
    <div class="col-xs-10 col-xs-offset-1 view-container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <!-- <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p> -->
      </div>
    </div>

    <span id="loading-spinner" us-spinner="{radius:30, width:8, length: 16}"></span>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    
    <!-- build:js({.tmp,app}) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-loading-spinner/angular-loading-spinner.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/edit.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/factories/common-factory.js"></script>
        <!-- endbuild -->


    <!--<script src="scripts/common-factory.js"></script>
    <script src="bower_components/angular-modernizr/src/scripts/placeholder.js"></script>
    <script src="bower_components/angular-modernizr/src/scripts/reveal.text.js"></script>-->
</body>
</html>
